/homework-1/Repport/Summary.aux
/homework-1/Repport/Summary.log
/homework-1/Repport/Summary.out
/homework-1/Repport/Summary.synctex.gz
/homework-1/Repport/Summary.tex
/homework-1/Repport/balanced.png
/homework-1/Repport/confusion_matrix.png
/homework-1/Repport/imbalanced.png
/homework-1/Repport/training-testing.png
